<br>
<a href="/users/<%=current_user.id%>">Profile</a>

<h1>Secrets Home!</h1>

<h3>Here are all Secrets!</h3>
<ul>
<% @secret.each do |secret| %>
    <li><%= secret.secret %></li>
    <p> <%= secret.likes.count %> likes </p>
    <% if secret.user.id == current_user.id %>
    <form action="/secrets/destroy/<%= secret.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Delete">
    </form> 
    <% end %>   
    <form action="/likes/<%= secret.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Like">
    </form>
<% end %>
</ul>